{% if alerts %}
	<div id="alerts">{{ alerts }}</div>
{% endif %}

<div class="usa-overlay"></div>

<header class="usa-header usa-header--extended">
    <div class="usa-navbar">
        <div class="usa-logo">
            <a class="grid-row" href="/test/" title="City of Bloomington, Indiana>">
                <img src="https://bloomington.in.gov/static/snowflake-blue.svg" alt="City of Bloomington Logo" class="grid-col-auto maxh-5 margin-right-105">
                <em class="usa-logo__text font-sans-lg grid-col-auto margin-y-auto">City of Bloomington</em>
            </a>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
        <div class="usa-nav__inner">
            <button type="button" class="usa-nav__close">
                <img src="https://bloomington.in.gov/static/uswds/dist/img/usa-icons/close.svg" role="img" alt="Close" />
            </button>
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <button type="button" class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-mega-nav-section-one">
                        <span>Residents</span>
                    </button>
                    {% include '@cob/menus/residents.html.twig'  %}
                </li>
                <li class="usa-nav__primary-item">
                    <button type="button" class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-mega-nav-section-two">
                        <span>Visitors</span>
                    </button>
                    {% include '@cob/menus/visitors.html.twig'  %}
                </li>
                <li class="usa-nav__primary-item">
                    <button type="button" class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-mega-nav-section-three">
                        <span>Business</span>
                    </button>
                    {% include '@cob/menus/business.html.twig'  %}
                </li>
                <li class="usa-nav__primary-item">
                    <button type="button" class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-mega-nav-section-four">
                        <span>Government</span>
                    </button>
                    {% include '@cob/menus/government.html.twig'  %}
                </li>
                <li class="usa-nav__primary-item">
                    <button type="button" class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-mega-nav-section-five">
                        <span>Connect</span>
                    </button>
                    {% include '@cob/menus/connect.html.twig'  %}
                </li>
            </ul>
            <div class="usa-nav__secondary">
                <ul class="usa-nav__secondary-links">
                    <li class="usa-nav__secondary-item">
                        {% if logged_in %}
							<a href="{{ base_path }}user/logout">Logout</a>
						{% else %}
							<a href="{{ base_path }}caslogin">Login</a>
						{% endif %}
                    </li>
                    <li class="usa-nav__secondary-item">
                        <a href="https://bloomington.in.gov/ureport/miscellaneous/53">Feedback</a>
                    </li>
                </ul>
                <section aria-label="Search component">
                    <form class="usa-search usa-search--small" role="search">
                        <label class="usa-sr-only" for="search-field">Search</label>
                        <input class="usa-input" id="search-field" type="search" name="search" />
                        <button class="usa-button" type="submit">
                            <img src="https://bloomington.in.gov/static/uswds/dist/img/usa-icons-bg/search--white.svg" class="usa-search__submit-icon" alt="Search" />
                        </button>
                    </form>
                </section>
            </div>
        </div>
    </nav>
</header>

{{ page.primary_menu }}
