{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}

<div id="basic-mega-nav-section-three" class="usa-nav__submenu usa-megamenu">
    <div class="grid-row grid-gap-4">
        <div class="usa-col">
            <ul class="usa-nav__submenu-list">
                <li class="usa-nav__submenu-item">
                    <a class="text-bold" href="{{ base_path }}business">Business</a>
                    <ul class="usa-nav__submenu-list margin-left-1">
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}sustainability">Susatainable Bloomington</a></li>
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}rfp">RFP &amp; Bid Information</a></li>
                        <li class="usa-nav__submenu-item"><a href="https://bloomington.ecdev.org/">Business in Bloomington</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
