{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}

<div id="basic-mega-nav-section-two" class="usa-nav__submenu usa-megamenu">
    <div class="grid-row grid-gap-4">
        <div class="usa-col">
            <ul class="usa-nav__submenu-list">
                <li class="usa-nav__submenu-item">
                    <a class="text-bold" href="{{ base_path }}about">Visitors</a>
                    <ul class="usa-nav__submenu-list margin-left-1">
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}arts">Arts &amp; Culture</a></li>
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}parks">Parks &amp; Recreation</a></li>
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}transportation">Getting Around</a></li>
                        <li class="usa-nav__submenu-item"><a href="http://www.visitbloomington.com/">Visit Bloomington</a></li>
                        <li class="usa-nav__submenu-item"><a href="https://www.indiana.edu/admissions/visit.html">Indiana University</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>